.App {
  text-align: center;

  font-family: sans-serif;
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  margin-bottom: 10px;
  background: #fff;
  padding: 40px 20px;
}

.App-border {
  border: 1px solid #aeccc6;
  border-radius: 10px;
}

.gitlink {
  margin-top: 30px;
}
